
body {
margin: 0;
font-family: 'Times New Roman', Times, serif;
display: flex;
min-height: 100vh;
}

.sidebar {
width: 250px;
background-color: #1a4a8f;
color: white;
padding: 20px;
position: fixed;
height: 100%;
overflow-y: auto;
}

.sidebar h2 {
color: #fff;
font-size: 20px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px; 
}

.sidebar ul {
list-style: none;
padding: 0;
}

.sidebar li {
margin: 15px 0;
}

.sidebar a {
color: white;
text-decoration: none;
}

.sidebar a:hover {
text-decoration: underline;
}

.main-content {
margin-left: 270px;
padding: 40px;
flex: 1;
}

h1, h2, h3 {
color: #1a4a8f;
}

.capa {
background-color: #1a4a8f;
color: white;
padding: 100px 20px;
text-align: center;
position: relative;
border-radius: 10px;
margin-bottom: 40px;
}

.capa h1 {
font-size: 80px;
color: white;
margin: 0;
}

.capa h2 {
font-size: 24px;
color: white;
margin-top: 20px;
font-weight: 400;
}

.capa .descricao {
position: absolute;
bottom: 5px;
right: 30px;
font-size: 12px;
text-align: right;
color: #d0dfff;
}

.imagem{
text-align: center;
}

.seccao {
background-color: #365788b5;
color: white;
padding: 50px 20px;
text-align: left;
position: relative;
border-radius: 5px;
margin-bottom: 10px;
margin-top: 5px;
font-size: 20px;
}

.seccao h1 {
font-size: 30px;
color: #1a4a8f;
margin: 0;
}

.seccao h2 {
font-size: 20px;
color: white;
margin-top: 20px;
font-weight: 400;
}

.footer {
margin-top: 60px;
font-size: 0.9em;
text-align: center;
color: #666;
}