
/*********************COLOR SCHEME*********************/
:root {
    --blue-light: #51cef5;
    --blue-main: #0db7ed; /*Docker color*/
    --blue-shadow: #097fa4;
    --blue-dark: #010b0e;
    --contrast: #ed430d;
    --low-contrast: #f57951;
    --white: #fffff0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
}

/*********************SIDE BAR*********************/
.sidebar {
    width: 230px;
    background-color: var(--blue-shadow);
    color: var(--white);
    padding: 20px;
    height: 100%;
    position: fixed;
}

.sidebar h2{
    border-bottom: 3px solid var(--contrast);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a{
    color: var(--white);
    text-decoration: none;
}

.sidebar ul div{
    border-bottom: 1px solid var(--low-contrast); /* Linha discreta */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.sidebar ul div:last-child {
    border-bottom: none;/* Remove a linha do último item */
}

.sidebar li{
    border-radius: 50px;
    padding: 10px;
}
.sidebar li.active{
    font-weight: bold;
    background-color: var(--blue-main);
    color: var(--white);
}

.sidebar ul li.deactive:hover {
    text-decoration: none;
    background-color: var(--blue-light);
}


/********************* UPPER-BAR *********************/

.upper-bar {
  width: 100%;
  height: 50px;
  background-color: var(--blue-light);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 270px;
  z-index: 1000;
}

.upper-bar .logo {
  height: 30px;
  margin-right: 15px;
}

/*
.bottom-logos{

}*/

/********************* BOTTOM-BAR *********************/

.bottom-bar {
   /* Pra descontar a largura da sidebar */
  height: 200px;
  background-color: var(--blue-dark);
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.bottom-bar img {
  height: 70px;
}

.bottom-bar a{
    color: var(--white);
}

/********************* CONTEUDO *********************/

.wrap{
    margin-left: 270px;

}

.capa {
    text-align: center;
    position: relative;
    border-radius: 10px;
    margin-bottom: 40px;
}
.capa p{
    text-align: right;
}

.content {
    padding-top: 70px; /* Upper-bar */
    padding-left: 20px;
    padding-right: 20px;
    color: var(--blue-dark);
}

.content img{
    width: 100%;
    border-radius: 50px;
}

.content a{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}