body { 
    Background-color: #a8d2f8;
    margin: 0;
    padding: 0;
}

h1{
    margin: 20px;
}

h2{
    margin: 20px;
}

h3{
    margin: 20px;
}

p{
    margin: 20px;
}

#upper-rectangle { 
    background-color: #086dd7;
    color: white;
    overflow: hidden;
}

#lower-rectangle { 
    background-color: #086dd7;
    color: white;
    overflow: hidden;
}

#subtitle {
    font-size: 20px;
    margin: 20px;
}